<p id="notice"><%= notice %></p>

<h1>Websites</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Website address</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.website_address %></td>
        <td><%= website.username %></td>
        <%# <td><%= link_to 'Show', website %1></td> %>
        <%# <td><%= link_to 'Edit', edit_website_path(website) %1></td> %>
        <%# <td><%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %1></td> %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Website', new_website_path %1> %>
