<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="">WebZero</a> %>
    <%= link_to "WebZero", root_path, :class => "navbar-brand"%> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, :class => 'nav-link active', "aria-current" =>"page" %>
        </li>
        <li>
          <%= link_to 'About', home_about_path, :class => 'nav-link active', "aria-current" =>"page" %>
        </li>
        <% if false %>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <% else %>
        <li class="nav-item">
          <% if !user_signed_in? %>
            <%= link_to "Login", user_session_path, :class => "nav-link" %>
          <% else %>
            <%= link_to "Profile", home_profile_path, :class => "nav-link" %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
