<h1 class="display-4">Hello <%= current_user.email %></h1>
<%# <h1 class="display-4">This is your uploaded resume: <%= current_user.resume.file==nil %1></h1> %>
<h3>You need to upload your resume or file that contains your personal info, WebZero will parse it automatically and generate your website!</h3>
<div class="jumbotron">
<br/>
<br/>
<br/>
<br/>
<%= link_to "See some existing WebZero Build Websites", websites_path %>
<br/>
<br/>
<br/>
  <div class="form-group">
  <% if user_signed_in? %>
  <%= render 'file', user: current_user %>
  <% end %>
</div>
<% if current_user.resume.file !=nil %>
<% g_res = generate(path="public#{current_user.resume}") %>
<% if g_res %>
  <h1>Website genereated successfully! This is your website location: <%= g_res %></h1>
<% end %>
<% end %>
</div>
